<section id="interventions">

    <div class="container">
        <div class="heading-title heading-dotted text-center" style="font-size: 30px;">
            <h2>Interventions</h2>
        </div>
    </div>

    <div class="row justify-content-center text-center" id="customer">  
        <form><label class="col">Select Customer</label>
            <%= select_tag("customers", option_from)
        </form> 
    </div>  

    <div class="row justify-content-center text-center" id="building">  
        <form><label class="col">Select Building</label>
            <select class="col justify-content-center text-center w-300" id="buildingSelect" onchange="showHide()" required>
                <option value="select"> select </option>
                <option value="test"> test </option>
            </select>
        </form> 
    </div>  

    <div class="row justify-content-center text-center" id="battery">  
        <form><label class="col">Select Battery</label>
            <select class="col justify-content-center text-center w-300" id="batterySelect" onchange="showHide()" required>
                <option value="select"> select </option>
                <option value="test"> test </option>
            </select>
        </form> 
    </div>  

    <div class="row justify-content-center text-center" id="column">  
        <form><label class="col">Select Column</label>
            <select class="col justify-content-center text-center w-300" id="columnSelect" onchange="showHide()" required>
                <option value="select"> select </option>
                <option value="test"> test </option>
            </select>
        </form> 
    </div>  

    <div class="row justify-content-center text-center" id="elevator">  
        <form><label class="col">Select Elevator</label>
            <select class="col justify-content-center text-center w-300" id="elevatorSelect" onchange="showHide()" required>
                <option value="select"> select </option>
                <option value="test"> test </option>
            </select>
        </form> 
    </div>  

    <div class="row justify-content-center text-center" id="employee">  
        <form><label class="col">Select Employee</label>
            <select class="col justify-content-center text-center w-300" id="employeeSelect" onchange="showHide()" required>
                <option value="select"> select </option>
                <option value="test"> test </option>
            </select>
        </form> 
    </div> 

</section>


<script> 

$(document).ready(function(){
    $("#customer").show();
    $("#building").hide();
    $("#battery").hide();
    $("#column").hide();
    $("#elevator").hide();
    $("#employee").show();

    $('#customerSelect').on('change', function() {
      if ( this.value == 'select')
      {
        $('#building').hide();
        $('#battery').hide();
        $('#column').hide();
        $('#elevator').hide();
      }
      else
      {
        $('#buildingSelect').val('select');
        $('#building').show();
      }
    });

    $('#buildingSelect').on('change', function() {
      if ( this.value == 'select')
      {
        $('#battery').hide();
        $('#column').hide();
        $('#elevator').hide();
      }
      else
      {
        $('#batterySelect').val('select');
        $('#battery').show();
      }
    });

    $('#batterySelect').on('change', function() {
      if ( this.value == 'select')
      {
        $('#column').hide();
        $('#elevator').hide();
      }
      else
      {
        $('#columnSelect').val('select');
        $('#column').show();
      }
    });

    $('#columnSelect').on('change', function() {
      if ( this.value == 'select')
      {
        $('#elevator').hide();
      }
      else
      {
        $('#elevatorSelect').val('select');
        $('#elevator').show();
      }
    });    

});
</script>

def full_name
    first_name + '' + last_name
end