<section id="interventions">
    <div class="container">
        <div class="heading-title heading-dotted text-center" style="font-size: 30px;">
            <h2>Interventions</h2>
        </div>
        <div class="row justify-content-center text-center">  
            <form name="customers" id="customers">                                                                                   
                <label class="col">Select Customer</label>
                <select class="col justify-content-center text-center w-300" name="customerList" id="customerList" onchange="showHide()">
                    <option value="select">Select</option>
                    <option value="customertest">Customer Test</option>
                </select>
            </form> 
        </div>  
        <div class="row justify-content-center text-center">  
            <div name="buildings" id="buildings">                                                                                   
                <label class="col">Select Building</label>
                <select class="col justify-content-center text-center w-300" name="buildingList" id="buildingList" onchange="showHide()">
                    <option value="select">Select</option>
                    <option value="buildingtest">Building Test</option>
                </select>
            </div> 
        </div>  
        <div class="row justify-content-center text-center">  
            <form name="batteries" id="batteries">                                                                                   
                <label class="col">Select Battery</label>
                <select class="col justify-content-center text-center w-300" name="batteryList" id="batteryList" onchange="showHide()">
                    <option value="select">Select</option>
                    <option value="batterytest">Battery Test</option>
                </select>
            </form> 
        </div>  
        <div class="row justify-content-center text-center">  
            <form name="columns" id="columns">                                                                                   
                <label class="col">Select Column</label>
                <select class="col justify-content-center text-center w-300" name="columnsList" id="columnsList" onchange="showHide()">
                    <option value="none">None</option>
                    <option value="columntest">Column Test</option>
                </select>
            </form> 
        </div>  
        <div class="row justify-content-center text-center">  
            <form name="elevators" id="elevators">                                                                                   
                <label class="col">Select Elevator</label>
                <select class="col justify-content-center text-center w-300" name="elevatorList" id="elevatorList" onchange="showHide()">
                    <option value="none">None</option>
                    <option value="elevatortest">Elevator Test</option>
                </select>
            </form> 
        </div>  
        <div class="row justify-content-center text-center">  
            <form name="employees" id="employees">                                                                                   
                <label class="col">Select Employee</label>
                <select class="col justify-content-center text-center w-300" name="employeesList" id="employeesList" onchange="showHide()">
                    <option value="none">None</option>
                    <option value="employeetest">Employee Test</option>
                </select>
            </form> 
        </div>  
</section>
<script> 

$(document).ready(function(){
    $("#customer").show();
    $("#building").hide();
    $("#battery").hide();
    $("#column").hide();
    $("#elevator").hide();
    $("#employee").show();

    $('#customerSelect').on('change', function() {
      if ( this.value == 'select')
      {
        $('#building').hide();
        $('#battery').hide();
        $('#column').hide();
        $('#elevator').hide();
      }
      else
      {
        $('#buildingSelect').val('select');
        $('#building').show();
      }
    });

    $('#buildingSelect').on('change', function() {
      if ( this.value == 'select')
      {
        $('#battery').hide();
        $('#column').hide();
        $('#elevator').hide();
      }
      else
      {
        $('#batterySelect').val('select');
        $('#battery').show();
      }
    });

    $('#batterySelect').on('change', function() {
      if ( this.value == 'select')
      {
        $('#column').hide();
        $('#elevator').hide();
      }
      else
      {
        $('#columnSelect').val('select');
        $('#column').show();
      }
    });

    $('#columnSelect').on('change', function() {
      if ( this.value == 'select')
      {
        $('#elevator').hide();
      }
      else
      {
        $('#elevatorSelect').val('select');
        $('#elevator').show();
      }
    });    

});
</script>